<div class="text-dark vh-100 d-flex flex-column justify-content-center p-5" id="history">
        <table class="table table-striped table-borderless table-responsive mb-0" id="reportBody">
            <thead class="bg-dark text-white">
            </thead>
            <tbody>
            </tbody>
        </table>
</div>



<script src="~/js/User/user.js"></script>
<script src="~/js/User/filesUploaded.js"></script>
