<div class="text-dark vh-100 d-flex align-items-center justify-content-center px-4">
    <div class="container-fluid">
        <p class="fs-1 text-center fw-bold">HOME</p>
    </div>
</div>


<script src="~/js/User/user.js"></script>